@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html, body {
	background-color: #081cf4;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.cardblue{
  background-color: #081cf4;
}

.playwrite-ar-bg {
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
